BASE_DIR="/home/cs2_base"
SRCDS_APPID="730"
STEAM_USER="anonymous"
STEAM_PASS=""
STEAM_AUTH=""
EXTRA_FLAGS=""

PELICAN_URL="https://cp.armaturix.net"
PELICAN_APP_TOKEN="your-application-token"
PELICAN_API_TOKEN="your-client-token"
PELICAN_IMAGE="docker.io/scrender/base-files-cs2:latest"
PELICAN_NODE_ID="1"

VERSION_CHECK_INTERVAL="300"
UPDATE_COUNTDOWN_TIME="300"

LOG_LEVEL="INFO"
LOG_FILE_ENABLED="1"
